.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(71, 69, 69, 0.808);
    filter: blur(8px);
    -webkit-filter: blur(8px);
}